* text=auto eol=lf

/.github export-ignore
/.playground export-ignore
/docs export-ignore
/scripts export-ignore
/tests export-ignore
/AGENTS.md export-ignore
/CHANGELOG.md export-ignore
/CLAUDE.md export-ignore
/CONTRIBUTING.md export-ignore
/SECURITY.md export-ignore
/composer.json export-ignore
/composer.lock export-ignore
/phpcs.xml.dist export-ignore
/phpunit.xml.dist export-ignore
/.distignore export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
